.App {
  /* text-align: center; */
  max-width: 100%;

  background-color: #eeeeee;
}
input,
select {
  display: inline;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #8b8c8d;
  background-color: #eeeeee;
  border-radius: 10px;
  outline: none;
  width: 100%;
}

input:focus,
select:focus {
  border-color: #4299e1;
}

input::placeholder,
select::placeholder {
  color: #a0aec0;
}

.field-container {
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.field-container input {
  /* width: 100%; */
  /* justify-content: flex-start; */
}

.form {
  width: 70%;
  margin: auto;
}

.form button {
  padding: 0.5rem 0.75rem;
  font-size: inherit;
}
